body{
  margin: 0;
  overflow-x: hidden;
}
header {
   background: green;
}
.boxHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerRight{
  ul{
    list-style: none;
    margin-right: -5px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    padding: 0;
    li{
      display: inline-block;
      border: 1px solid white;
      padding: 10px;
      margin: 0px 5px;
      margin-bottom: 10px;
      margin-top: 10px;
      &.active{
        border: 1px solid red;
      }
      a{
        color: white;
        text-decoration: none;
        &.active{
         color: red;
        }
      }
    }
  }
}
.headerLeft{
  display: flex;
  align-items: center;
  justify-content: center;
  p{
    margin: 0;
    color: white;
  }
  .logo{
    padding-right: 10px;
  }
}